
* {
  text-decoration: none;
  list-style: none;
}
.haveany{
  border-right: 5px solid white;
}
.buttons{
  border-left: 2px solid white;
}
.haveany p{
  color: #fff;
}
.imgCourse{
  padding-top: 10%;
}
.fixedMenu {
  position: fixed;
  width: 100%;
  z-index: 1000;
}
.navbar2.gotoTop{
  top: 0;
}
.navbar2 {
  background-color: #fff; 
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
}
.navbar2.scrolled {
  height: 14%; 
  background-color: #f8f9fa; 
  opacity: 0.9;
}
.haveany{
  background-color: red;
}
 .buttons{
  background-color: #2C2B5E;
 }
.buttons li {
  padding-top: 4%;
  padding-left: 30%;
}
.buttons li a {
  font-size: 18px;
  text-decoration: none;
  color: #ffffff;
  transition: 0.5s;
  font-weight: 400;
}
.buttons li a:hover {
  color: red;
}
p {
  color: #000000;
  font-size: 15px;
}
.navbar2 ul{
padding-left: 17%;
}
.navbar2 ul li{
  padding: 17px;
}
#courseId p{
  color: gray;
}
#courseId h3{
  font-weight: 700;
  font-size: 19px;
}

.navbar2 ul li a{
  text-decoration: none;
  color: #000000;
}
.navbar2{
  height: 19%;
  background-color: #ffffff;
  
}
  .searchbut a{
    transition: 0.5s;
    color: #000000;
  }
  .ahref{
    display: block;
    width: 35px;
    height: 35px;
    background-color: #000000;
    border-radius: 50%;
    transition: 0.5s;
  }
  .ahref i{
    color: #ffffff;
    padding: 10px 10px;
  }
  .ahref:hover{
    background-color: red;
  }
  
  .img1 img{
    padding-top: 30px;
    width: 230px;
    height: 90px;
  }
  .backimg{
  background: rgba(0, 0, 0, 0) url("/img/banner.jpg") no-repeat scroll center center / cover;
  position: relative;
  width: 100%;
  z-index: -1;
  height: 300px;  
  filter: brightness(20%);
  }
  .aboutC{
  padding-top: 120px;
  font-size: 40px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  z-index: 1;
  position: absolute;
  }
  .buttonsearch button{
    width: 200px;
    font-size: 17px;
    color: #fff;
    background-color: red;
    margin-bottom: 10px;
  
  }
  .searchcourses{
    background: #2C2B5E;
     color: #fff; 
  }
  .searchcourses h1{
  font-weight: 700;
  font-size: 22px;
  padding: 16px 93px 16px 27px;
  font-family: 'Open Sans', sans-serif;
  }
  .coursecontent a{
    text-decoration: none;
    color: #000000;
    transition: 0.5s;
  }
  .coursecontent button{
    background-color: red;
  }
  .coursecontent button a{
    color: white;
  }
  .coursecontent h3 a:hover{
    color: red;
  }
  .coursecontent button:hover{
    background-color: #2C2B5E;
    color: white;
  }
  .course-img img:hover{
    filter: brightness(80%);
    scale: 1.01;
  }
  .emailsend{
    padding-top: 30px;
  }
  .emailsend input{
     margin-left: 150px;
    height: 45px;
    width: 700px;
  }
  .emailsend button{
    color: #fff;
    transition: 0.3s;
    background-color: red;
  }
  .emailsend button:hover{
    background-color:#2C2B5E;
  }
  .subscribe-content h2{
    text-transform: uppercase;
  }
  .subscribe-content p{
    color: gray;
    font-size: 14px;
  }
  .subscribe-area {
    height: 40vb;
    background-color: rgb(245, 243, 243);
    padding-top: 100px;
  }
  
  .footer-social ul li{
    display: inline-block;
    padding: 10px;
  }
  .footer-social ul li a{
    transition: 0.5s;
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #ffffff;
    border-radius: 50%;
  }
  .footer-social ul li a:hover{
    background-color: red;
  }
  .footer-social ul li a i:hover{
    color: #fff;
  }
  .footer-social ul li i{
    transition: 0.4s;
    padding: 11px 11px; 
    color: #000000;
  }
  .single-widget ul li {
    padding: 3px;
  }
  .single-widget p{
    font-size: 13px;
    color: gray;
  }
  .single-widget h4{
    font-size: 17px;
  
  }
  .single-widget ul li a{
    font-size: 12px;
    transition: 0.3s;
    text-decoration: none;
    color: gray;
  }
  .single-widget ul li a:hover{
    color: red;
  }
  .single-widget hr{
   
    color: rgb(61, 61, 61);
    border: 1px solid black;
    width: 30px;
  }
  .footer-bottom{
    height: 80px;
    background-color:#2C2B5E ;
  }
  .footer-bottom p{
    padding-top: 20px;
    color: rgb(180, 175, 175);
  }
  .footer-bottom a{
    text-decoration: none;
    color: white;
    font-weight: 600;
  }
  .main-footer{
    height: 43vb;
  }
  .img2 img{
    width: 100%;
    height: 450px;
   
  }
  .aboutCourses{
    padding-top: 100px;
  }
  .aboutCourses h1,h3{
    font-size: 19px;
    font-weight: 700;
  }
  .aboutCourses p{
    color: gray;
  }
  .reply-area input{
    width: 650px;
    height: 50px;
  }
  .reply-area textarea{
    width: 650px;
  }
  .reply-area  button{
    width: 150px;
    height: 36px;
    color: #fff;
    background-color: #2C2B5E;
    transition: 0.5s;
  }
  .reply-area  button:hover{
    background-color: red;
  }
  .reply-area h3{
    font-size: 17px;
    font-weight: 700;
  }
  .reply-area .aboutp{
    width: 570px;
    font-size: 15px;
    color: gray;
  }
  #contact-form p{
    color: black;

  }
  .course-details-right{
    display: inline-block;
   width: 100%;
    height: 450px;
    background-color: #ffffff;
    border: 0.1px solid gray;
  }
  .course-details-right li{
    padding: 10px;
  }
  .course-details-right span{
    padding-right: 19px;
   float: right;
  }
  .course-details-right li{
    font-size: 14px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 500;
  }
  .course-details-right .red{
    color: red;
  }
  .blog-search input{
    width: 250px;
    border: 1px solid black;
    height: 40px;
  }
  .blog-search button{
    height: 40px;
    width: 40px;
    transition: 0.4s;
    border: 1px solid black;
  }
  .blog-search button:hover{
    background-color: red;
    color: #fff;
  }
  .single-blog-widget ul li{
    padding: 10px;
  }
  .single-blog-widget  ul li a{
    text-decoration: none;
   color: rgb(98, 98, 98);
    transition: 0.3s;
    font-size: 15px;
  }
  .single-blog-widget  ul li a:hover{
    color: red;
  }
  .single-blog-banner{
    background-image: url(/img/blog-img.jpg);
    width: 300px;
    height: 300px;
    position: relative;
    z-index: -1;
  }
  .bestedu{
    z-index: 1;
    padding-left: 20px;
    padding-top: 170px;
    color: #fff;
    position: absolute;
  }
  .single-post{
    display: flex;
    justify-content: space-evenly;
  }
  .single-post-content h4{
    font-size: 17px;
  }
  .single-post-content h4 a{
    text-decoration: none;
    transition: 0.3s;
    color: #000000;
  }
  .single-post-content p{
    font-size: 13px;
  }
  .single-post-content h4 a:hover{
    color: red;
  }
  .single-tag li{
    border-radius: 3px;
    border: 0.1px solid black;
    display: inline-block;
   padding: 10px;
    width: 100px;
    height: 40px;
    transition: 0.3s;
    background-color: #ffffff;
    
  }
  .single-tag  ul li a{
    padding: 5px 10px;
    text-decoration: none;
    color: #6f6e6e;
  }
  .single-tag ul li a:hover{
    color: #ffffff;
  }
  .single-tag  ul li:hover{
    
    background-color: #2C2B5E;
  }

  .single-tag{
    width: 400px;
  }
  #scrollToTopBtn{
    border: 0.1px solid black;
    border-radius: 4px;
    width: 50px;
    height: 40px;
    background-color:red;
    color: #fff;
    transition: 0.4s;
  }
  #scrollToTopBtn:hover{
    background-color:#f30f0f;
    scale: 1.1;
  }
  #scrollToTopBtn:hover i{
    scale: 1.4;
  
  }
  .search-open{
    display: none;
    padding-top: 1%;
    padding-right: 5%;
    text-align: right;
  }
  .search-open  button{
    border: 1.4px solid rgb(252, 234, 199);
    width: 40px;
    height: 40px;
    background-color: #5b5a9f;
    color: white;
  }
  .search-open input{
    border: 1.4px solid rgb(250, 232, 198);
    height: 40px;
  } 
  @media screen and (max-width: 768px) {
    .hamburger {
        display: none;
    }
    .haveany p{
      text-align: center;
    }
    .aboutC{
      padding-top: 20%;
      
     }
     .imgCourse{
      padding-top: 10%;
    }
    .navbar2{
      height: 22%;
      background-color: #ffffff;
      
    }
  }
  




  