
* {
  text-decoration: none;
  list-style: none;
}
.haveany p{
  color: #fff;
}
.imgCourse{
  padding-top: 10%;
}
.fixedMenu {
  position: fixed;
  width: 100%;
  z-index: 1000;
}
.navbar2.gotoTop{
  top: 0;
}
.navbar2 {
  background-color: #fff; 
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
}
.navbar2.scrolled {
  height: 17%; 
  background-color: #f8f9fa; 
  opacity: 0.9;
}
.haveany{
  background-color: red;
}
 .buttons{
  background-color: #2C2B5E;
 }
.buttons li {
  padding-top: 4%;
  padding-left: 30%;
}
.buttons li a {
  font-size: 18px;
  text-decoration: none;
  color: #ffffff;
  transition: 0.5s;
  font-weight: 400;
}
.buttons li a:hover {
  color: red;
}
p {
  color: #000000;
  font-size: 15px;
}
.navbar2 ul{
padding-left: 17%;
}
.navbar2 ul li{
  padding: 17px;
}
#courseId p{
  color: gray;
}
#courseId h3{
  font-weight: 700;
  font-size: 19px;
}

.navbar2 ul li a{
  text-decoration: none;
  color: #000000;
}
.navbar2{
  height: 19%;
  background-color: #ffffff;
  
}
.searchbut a{
  transition: 0.5s;
  color: #000000;
}
.ahref{
  display: block;
  width: 35px;
  height: 35px;
  background-color: #000000;
  border-radius: 50%;
  transition: 0.5s;
}
.ahref i{
  color: #ffffff;
  padding: 10px 10px;
}
.ahref:hover{
  background-color: red;
}

.img1 img{
  padding-left: 30px;
  padding-top: 30px;
  width: 230px;
  height: 90px;
}
.backimg{
background: rgba(0, 0, 0, 0) url("/img/banner.jpg") no-repeat scroll center center / cover;
position: relative;
width: 100%;
z-index: -1;
height: 300px;  
filter: brightness(20%);    
}
.aboutC{
padding-top: 10%;
font-size: 40px;
color: #fff;
font-family: 'Open Sans', sans-serif;
font-weight: 700;
text-transform: uppercase;
z-index: 1;
position: absolute;
}
.buttonsearch button{
  width: 200px;
  font-size: 17px;
  color: #fff;
  background-color: red;
  float: right;
}
#searchbtn{
  font-weight: 500;
  width: 200px;
  font-size: 17px;
  color: #fff;
  background-color: red;
  margin-bottom: 10px;
  float: right;
}
#searchbtn:hover{
  background-color: #2C2B5E;
  color: #fff;
}
.subscribe-area .input-group{
  padding-left: 17%;
  text-align: center;
  width: 950px;
}
.searchcourses{
  background: #2C2B5E;
   color: #fff; 
}
.searchcourses h1{
font-weight: 700;
font-size: 22px;
padding: 16px 93px 16px 27px;
font-family: 'Open Sans', sans-serif;
}
.coursecontent a{
  text-decoration: none;
  color: #000000;
  transition: 0.5s;
}
.coursecontent button{
  background-color: red;
}
.coursecontent button a{
  font-size: 15px;
  font-weight: 500;
  color: white;
}
.coursecontent h3 a:hover{
  color: red;
}
.coursecontent button:hover{
  background-color: #2C2B5E;
  color: white;
}
.course-img img:hover{
  filter: brightness(80%);
  scale: 1.01;
}

.subscribe-content h2{
  text-transform: uppercase;
}
.subscribe-content p{
  color: gray;
  font-size: 14px;
}
.subscribe-area {
  height: 40vb;
  background-color: rgb(245, 243, 243);
  padding-top: 6%;
}
.footer-social ul li{
  display: inline-block;
  padding: 10px;
}
.footer-social ul li a{
  transition: 0.5s;
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #ffffff;
  border-radius: 50%;
}
.footer-social ul li a:hover{
  background-color: red;
}
.footer-social ul li a i:hover{
  color: #fff;
}
.footer-social ul li i{
  transition: 0.4s;
  padding: 11px 11px; 
  color: #000000;
}
.single-widget ul li {
  padding: 3px;
}
.single-widget p{
  font-size: 13px;
  color: gray;
}
.single-widget h4{
  font-size: 17px;

}
.single-widget ul li a{
  font-size: 12px;
  transition: 0.3s;
  text-decoration: none;
  color: gray;
}
.single-widget ul li a:hover{
  color: red;
}
.single-widget hr{
 
  color: rgb(61, 61, 61);
  border: 1px solid black;
  width: 30px;
}
.footer-bottom{
  
  height: 80px;
  background-color:#2C2B5E ;
}
.footer-bottom p{
  padding-top: 25px;
  color: rgb(180, 175, 175);
}
.footer-bottom a{
  text-decoration: none;
  color: white;
  font-weight: 600;
}
.main-footer{
  padding-top: 50px;
  height: 43vb;
}

#scrollToTopBtn{
  border: 0.1px solid black;
  border-radius: 4px;
  width: 50px;
  height: 40px;
  background-color:red;
  color: #fff;
  transition: 0.4s;
}
#scrollToTopBtn:hover{
  background-color:#f30f0f;
  scale: 1.1;
}
#scrollToTopBtn:hover i{
  scale: 1.4;

}
#loadMoreBtn{
  border: 0.1px solid black;
  border-radius: 4px;
  width: 50px;
  height: 40px;
  background-color:#2C2B5E;
  color: #fff;
  transition: 0.4s;
}
#loadMoreBtn:hover{
  background-color:#5b5a9f;
  scale: 1.1;
}
#loadMoreBtn:hover i{
  scale: 1.4;
}
.search-open{
  display: none;
  padding-top: 1%;
  padding-right: 5%;
  text-align: right;
}
.search-open  button{
  border: 1.4px solid rgb(252, 234, 199);
  width: 40px;
  height: 40px;
  background-color: #5b5a9f;
  color: white;
}
.search-open input{
  border: 1.4px solid rgb(250, 232, 198);
  height: 40px;
}
#searchResults {
  margin-right: 4.2%;
  width: 245px;
  height: 400px;
  float: right;
  padding: 20px;
  background-color: #5b5a9f;
  overflow: hidden; /* İçeriği sınırları içinde tut, gizle */
  border-radius: 5px;
}

#searchResults div{
  padding: 10px;
  color: #fff;
  text-align: center;
} 

@media screen and (max-width: 768px) {
  #searchResults {
    width: 100%; 
    height: auto; 
    overflow: auto; 
  }
}

@media screen and (max-width: 768px) {
  .hamburger {
      display: none;
  }
  .haveany p{
    text-align: center;
  }
  .aboutC{
    padding-top: 20%;
    
   }
   .imgCourse{
    padding-top: 10%;
  }
  .navbar2{
    height: 22%;
    background-color: #ffffff;
    
  }
  
}

